/* Variables */
$primary-blue: #1389FD;
$primary-orange: #F8D5B5;
$primary-white: #FFFFFF;

body{
  background: black;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.btn{
  min-height: 42px;
  display: inline-block;
  padding: 9px 13px;
  margin: 0px 15px;
  background: $primary-blue;
  color: white;
  line-height: 42px;
  vertical-align: middle;
  
}

.frame{
  position: relative;
  width: 90vw;
  /* height: 4714px; */
  background: $primary-white;
  overflow: hidden;
}

nav{
  height: 66px;
  padding: 12px 16px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  .nav-logo{
    width: 129px;
    height: 37px;
    background: $primary-blue;
  }
  
  .nav-links{
    
    .nav-link{
      height: 42px;
      display: inline-block;
      padding: 9px 13px;
      margin: 0px 15px;
      background: $primary-blue;
      color: white;
      line-height: 42px;
      vertical-align: middle;
      
    }
  }
  
}


.content-container{
  padding: 80px 77px;
}

.box{
   min-height: 100px;
   padding: 14px 55px 36px;
   background: #E2F4DA;
   margin: 20px 0;
  
}

.box-alert{
  background: #F8D5B5;
}


.footer{}


*{
  
  font-family: roboto;
}